In [2]:
import pandas as pd
import tensorflow as tf

In [3]:
first = pd.read_csv('firstbank.csv')
zenith = pd.read_csv('zenith.csv')
gtbank = pd.read_csv('gtbank.csv')
access = pd.read_csv('access.csv')
uba = pd.read_csv('uba.csv')
union = pd.read_csv('unionbank.csv')
fcmb = pd.read_csv('fcmb.csv')

In [4]:
first.head()

,date,username,to,replies,retweets,favorites,text,geo,mentions,hashtags,id,permalink
0,2020-01-30 16:19:50,TheGovernor___,NaN,0,0,0,@FBN_help first bank it is more than 7 working...,NaN,@FBN_help,NaN,1222917345208864769,https://twitter.com/TheGovernor___/status/1222...
1,2020-01-30 16:09:46,GMbabuike,emmy2611_,0,0,0,Done 3033654169 first Bank Please look my dire...,NaN,NaN,NaN,1222914810276433920,https://twitter.com/GMbabuike/status/122291481...
2,2020-01-30 16:01:21,IamHengzie,PERUZZI__VIBEZ,0,0,0,3122655282... Martins Onu firstbank,NaN,NaN,NaN,1222912695084646402,https://twitter.com/IamHengzie/status/12229126...
3,2020-01-30 15:49:22,bengbenroTv,NaN,0,0,1,New post: FirstBank tasks SMEs on capacity bui...,NaN,NaN,NaN,1222909679665405952,https://twitter.com/bengbenroTv/status/1222909...
4,2020-01-30 15:33:53,Naijarib,saadat_bibire,0,0,0,When they pay you. Don't forget to pay your ti...,NaN,NaN,NaN,1222905780954812420,https://twitter.com/Naijarib/status/1222905780...

In [6]:
import glob, os    
df = pd.concat(map(pd.read_csv, glob.glob(os.path.join('', "*.csv"))))

In [8]:
df.head()

,date,username,to,replies,retweets,favorites,text,geo,mentions,hashtags,id,permalink
0,2020-01-30 15:37:38,ibrahim89558604,Peruzi_VIBES,0,0,0,Kabir Ibrahim isa 5760318012 fcmb bank,NaN,NaN,NaN,1222906726107664384,https://twitter.com/ibrahim89558604/status/122...
1,2020-01-30 14:25:32,YarKafanchan,Hard_Knockks,0,0,1,"I also bank with Zenith, excellent bank. FCMB ...",NaN,NaN,NaN,1222888580105822209,https://twitter.com/YarKafanchan/status/122288...
2,2020-01-30 13:54:23,YarKafanchan,NaN,2,0,4,"After this work is done, we are moving our acc...",NaN,@MyFCMB,NaN,1222880742167973888,https://twitter.com/YarKafanchan/status/122288...
3,2020-01-30 11:34:18,IykeJeenah,obi_cubana,0,0,0,4188591010 Fcmb,NaN,NaN,NaN,1222845486845042689,https://twitter.com/IykeJeenah/status/12228454...
4,2020-01-30 11:18:31,SIjebu,obi_cubana,0,0,0,2831838019 fcmb sir,NaN,NaN,NaN,1222841515011117056,https://twitter.com/SIjebu/status/122284151501...

In [9]:
df.columns

Index(['date', 'username', 'to', 'replies', 'retweets', 'favorites', 'text',
       'geo', 'mentions', 'hashtags', 'id', 'permalink'],
      dtype='object')

In [12]:
data = df.drop(['replies', 'retweets', 'favorites', 
                'geo', 'mentions', 'id', 'permalink'], axis=1)

In [15]:
data.head()

,date,username,to,text,hashtags
0,2020-01-30 15:37:38,ibrahim89558604,Peruzi_VIBES,Kabir Ibrahim isa 5760318012 fcmb bank,NaN
1,2020-01-30 14:25:32,YarKafanchan,Hard_Knockks,"I also bank with Zenith, excellent bank. FCMB ...",NaN
2,2020-01-30 13:54:23,YarKafanchan,NaN,"After this work is done, we are moving our acc...",NaN
3,2020-01-30 11:34:18,IykeJeenah,obi_cubana,4188591010 Fcmb,NaN
4,2020-01-30 11:18:31,SIjebu,obi_cubana,2831838019 fcmb sir,NaN

There are a lot of giveaway tweets and I don't want to drop them because they are useful for analysis.

I think i categorize the tweets as either normal or giveaway tweets

In [16]:
data['to'].value_counts()

ZenithBank         359
UNIONBANK_NG       111
Zlatan_Ibile        93
gtbank              91
Drmike_adenuga      84
                  ...
SadeeqAhmad99        1
merazinvestment      1
miz_eny              1
josfoodiesclub       1
Edward_Onoriode      1
Name: to, Length: 1693, dtype: int64

In [53]:
data['hashtags'].isna().sum()

6548

In [ ]:
giveaway = ['obi_cubana', 'zlatan_ibile', 'Drmike_adenuga']
normal = ['gtbank','UNIONBANK_NG', 'ZenithBank', 'miz_eny',
          'josfoodiesclub', 'Edward_Onoriode']


#all tweets to zenith bank are normal
# normal tweets are unionbank

In [37]:
data[data['to'] == 'Edward_Onoriode']['text'].values

array(["Next time, simply introduce them to cardless withdrawal option. My @gtbank and @myaccessbank cards are missing for over 4 months now, but with the cardless withdrawal option, I don't bother at all. And if I want to make payment over the web, I knew all the digits off-head."],
      dtype=object)

In [27]:
data['text']

0                  Kabir Ibrahim isa 5760318012 fcmb bank
1       I also bank with Zenith, excellent bank. FCMB ...
2       After this work is done, we are moving our acc...
3                                         4188591010 Fcmb
4                                     2831838019 fcmb sir
                              ...
1995    Please RT for #KuruMasjid donations. Acct. Nam...
1996    @dawisu individuals can donate windows, doors ...
1997    Just posted a photo @First Bank Of Nigeria Plc...
1998    Alhamdulillah @First Bank of Nigeria Saki http...
1999    @MyFCMB I love Fcmb is the best Bank apart fro...
Name: text, Length: 8178, dtype: object

In [50]:
data['cat'] = data['text'].str.contains(r'\d', regex=True)

In [51]:
data['hashtags'].value_counts()

False    4269
True     3871
Name: cat, dtype: int64

In [59]:
# data[data['cat'] == False][:40]

In [57]:
data = data[data['hashtags'].isna()]

In [58]:
data.head()

,date,username,to,text,hashtags,cat
0,2020-01-30 15:37:38,ibrahim89558604,Peruzi_VIBES,Kabir Ibrahim isa 5760318012 fcmb bank,NaN,True
1,2020-01-30 14:25:32,YarKafanchan,Hard_Knockks,"I also bank with Zenith, excellent bank. FCMB ...",NaN,False
2,2020-01-30 13:54:23,YarKafanchan,NaN,"After this work is done, we are moving our acc...",NaN,False
3,2020-01-30 11:34:18,IykeJeenah,obi_cubana,4188591010 Fcmb,NaN,True
4,2020-01-30 11:18:31,SIjebu,obi_cubana,2831838019 fcmb sir,NaN,True

In [84]:
data = data.drop(data[data['to']== 'obi_cubana'].index)
data = data.drop(data[data['to']== 'Peruzi_VIBES'].index)
data = data.drop(data[data['to']== 'Zlatan_Ibile'].index)
data = data.drop(data[data['to']== 'Drmike_adenuga'].index)
data = data.drop(data[data['to']== 'volqx'].index)

In [82]:
data.shape

(6062, 6)

In [83]:
data.head(30)

,date,username,to,text,hashtags,cat
1,2020-01-30 14:25:32,YarKafanchan,Hard_Knockks,"I also bank with Zenith, excellent bank. FCMB ...",NaN,False
2,2020-01-30 13:54:23,YarKafanchan,NaN,"After this work is done, we are moving our acc...",NaN,False
5,2020-01-30 09:56:16,DadaGbeng,NaN,@accessbank_help I made a transfer to fcmb ban...,NaN,True
9,2020-01-29 16:39:17,MrAlifa_,NaN,"Nigga stole N400,000,000 from FCMB...how",NaN,True
12,2020-01-29 15:01:24,Khalifat_ays__,NaN,"This guy followed me from FCMB to Zenith bank,...",NaN,False
21,2020-01-29 08:20:23,alausa_pemisire,AuntyAdaa,Mine borrow Moni frm mtn dey jst called fcmb n...,NaN,True
22,2020-01-29 07:08:27,sarafam1,sarafam1,It is sad that only @gtbank @gtbank_help has s...,NaN,True
24,2020-01-28 20:09:18,iam_toluine,NaN,@FBN_help hello first bank. I made a transfer ...,NaN,False
25,2020-01-28 19:46:11,_itahyra,NaN,Fcmb suna sa ina kama da mutumiyar banza,NaN,False
26,2020-01-28 19:45:35,_itahyra,NaN,What's with fcmb ne wai yau,NaN,False
27,2020-01-28 19:01:25,The_JPdev,NaN,FCMB fe pa mi,NaN,False
32,2020-01-28 09:43:28,sarafam1,sarafam1,Please I am still waiting for resolution on th...,NaN,True
38,2020-01-27 11:05:20,fcmbpensions,smug55,"Good afternoon @smug55, Thank you for reaching...",NaN,True
39,2020-01-27 09:01:15,Manuel4me,ObajemuJnr,"Agree with you, but don’t just give union bank...",NaN,False
40,2020-01-27 08:52:09,fcmbpensions,NaN,"@ikeolisavictor Good morning Victor, Please no...",NaN,False
41,2020-01-26 20:14:21,Kolawol51839538,Shieod,Sanni Abdulqudus FCMB 6563376012,NaN,True
42,2020-01-26 20:09:43,Kolawol51839538,joeboy0fficial,Sanni Abdulqudus FCMB 6563376012,NaN,True
43,2020-01-26 12:30:31,BabarindeFranc3,Promise30962605,Fcmb 6409333010 babarinde Francis,NaN,True
44,2020-01-26 12:26:37,adranaj,Ayourb,This one is for Fcmb but most banks is similar...,NaN,False
45,2020-01-26 08:31:46,MurphyChuwang,joeboy0fficial,Abba Murphy Mafeng 4782321011 FCMB,NaN,True
47,2020-01-25 14:55:24,miztagprince,APOSTLESULEMAN,"Sir I really need your support sir, my younger...",NaN,True
58,2020-01-24 13:39:41,Mubarakumarsan3,NaN,Fcmb BANK pic.twitter.com/5GUu6kyT8R,NaN,True
60,2020-01-24 07:09:45,seundavidpaul,KemiOlunloyo,3507699028 FCMB Your constant tongue lashing o...,NaN,True
61,2020-01-24 03:14:33,_Ilufoye_,adejibo,I guess you wanted to reply to that Josiah's t...,NaN,False
62,2020-01-23 19:14:00,iamvhatcluxstar,oti_pr,I transferred from my FCMB to my FBN this afte...,NaN,False
65,2020-01-23 15:24:02,ubami1,NaN,We are still pleading with FCMB to look into m...,NaN,False
66,2020-01-23 14:54:42,fcmbpensions,AyoAluko2,"Good Afternoon @AyoAluko2, Thank you for reach...",NaN,True
67,2020-01-23 14:31:40,kafayahh_,NaN,Fcmb be texting me unimportant things. See ehn...,NaN,False
69,2020-01-23 13:08:25,fcmbpensions,NaN,Did you know that the Data Recapture Exercise ...,NaN,True
70,2020-01-21 07:52:45,TheKayke,HRH_klover,There is a place in Gwarinpa 1st Avenue. In fr...,NaN,True

In [86]:
data['username']

1         YarKafanchan
2         YarKafanchan
5            DadaGbeng
9             MrAlifa_
12      Khalifat_ays__
             ...
1994        u_okurusco
1996        u_okurusco
1997         iamfresca
1998      adedammy2015
1999         ioudezuka
Name: username, Length: 6062, dtype: object